html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

div {
	background-size: cover;
	background-position: center;
}

#stage {
	width: 100%;
	height: 100%;
	background-image: url("images/bg.png");
}

.view {
	position: absolute;
	width: 100%;
	height: 100%;
}
.view div {
	position: absolute;
}

/* loader */
#loader {
}
#logo {	
	width: 1080px;
	height: 633px;
	background-image: url("images/logo.png");
	margin-top: 640px;
}

/* information */
#information_A {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("images/information_A.png");
	margin-top: 0px;
}
#information_B {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("images/information_B.png");
	margin-top: 0px;
}
#information_C {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("images/information_C.png");
	margin-top: 0px;
}

/* question */
#Q_01 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("images/Q_01.png");
	margin-top: 0px;
}
#Q_select01 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("images/Q_select01.png");
	margin-top: 0px;
}